<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>叩叩平台會員登入</title>

</head>
<body>
    <div class="container">
        <h1>叩叩平台會員登入</h1>
        <form action="#" method="post">

            <div class="form-group">
                <label for="account">會員帳號:</label>
                <input type="text" id="account" name="account" required>
            </div>
            <div class="form-group">
                <label for="password">會員密碼:</label>
                <input type="text" id="password" name="password" required>
            </div>
			<a href="forgot-passwd" class="forgot-password">忘記密碼</a>
            <a href="signup" class="signup">還沒有帳號? 點我註冊</a>
            <button type="submit" class="submit-btn">提交</button>
        </form>
    </div>
</body>
</html>
