<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>叩叩平台會員註冊</title>
</head>
<body>
<div class="container">
    <h1>叩叩平台會員註冊</h1>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">會員名稱:</label>
          <input type="text" id="username" formControlName="username">
          <small>ex：叩叩</small>
          <div *ngIf="formGroup.get('username')?.errors">
            {{ getErrorMessage('username') }}
          </div>
        </div>
        <div class="form-group">
          <label for="account">會員帳號:</label>
          <input type="text" id="account" formControlName="account">
          <small>ex：knock，只能為英文</small>
          <div *ngIf="formGroup.get('account')?.errors">
            {{ getErrorMessage('account') }}
          </div>
        </div>
        <div class="form-group">
          <label for="password">會員密碼:</label>
          <input type="password" id="password" formControlName="password">
          <small>ex：由8個數字組成</small>
          <div *ngIf="formGroup.get('password')?.errors">
            {{ getErrorMessage('password') }}
          </div>
        </div>
        <div class="form-group">
          <label for="email">會員電子郵件:</label>
          <input type="email" id="email" formControlName="email">
          <div *ngIf="formGroup.get('email')?.errors">
            {{ getErrorMessage('email') }}
          </div>
        </div>
        <div class="form-group">
          <label for="identity">會員身分:</label>
          <select id="identity" formControlName="identity">
            <option value="">請選擇</option>
            <option value="club">社團活動方</option>
            <option value="brand">品牌贊助方</option>
          </select>
          <div *ngIf="formGroup.get('identity')?.errors">
            {{ getErrorMessage('identity') }}
          </div>
        </div>
        <button type="submit" class="submit-btn" [disabled]="formGroup.invalid">下一步</button>
      </form>
      
</div>
</body>