    <div class="banner">
        <img src="assets/images/banner.jpg" alt="Banner">
    </div>
    <div class="latest-activities">
        <h2>最新活動</h2>
        <div class="activity">
            <img src="assets/images/1.png" alt="Activity 1">
            <h3>活動標題1</h3>
        </div>
        <div class="activity">
            <img src="assets/images/2.png" alt="Activity 2">
            <h3>活動標題2</h3>
        </div>
    </div>
	    <div class="latest-sponsors">
        <h2>最新贊助</h2>
        <div class="activity">
            <img src="assets/images/1.png" alt="Activity 1">
            <h3>活動標題1</h3>
        </div>
        <div class="activity">
            <img src="assets/images/2.png" alt="Activity 2">
            <h3>活動標題2</h3>
        </div>
    </div>
    <div class="partners-container">
        <h2>合作伙伴</h2>
        <div class="partners-grid">
          <div class="partner">
            <img src="assets\images\homepage\companion1-NCNU.jpg" alt="NCNU">
          </div>
          <div class="partner">
            <img src="assets/gaode.png" alt="高德地圖">
          </div>
          <div class="partner">
            <img src="assets/taobao.png" alt="淘寶網">
          </div>
          <div class="partner">
            <img src="assets/jd.png" alt="京東">
          </div>
          <div class="partner">
            <img src="assets/watsons.png" alt="屈臣氏">
          </div>
          <div class="partner">
            <img src="assets/tmall.png" alt="天貓國際">
          </div>
          <div class="partner">
            <img src="assets/cocacola.png" alt="可口可樂">
          </div>
          <div class="partner">
            <img src="assets/kfc.png" alt="肯德基">
          </div>
          <div class="partner">
            <img src="assets/genki.png" alt="元氣森林">
          </div>
          <div class="partner">
            <img src="assets/nayuki.png" alt="奈雪的茶">
          </div>
          <div class="partner">
            <img src="assets/haidilao.png" alt="海底撈">
          </div>
          <div class="partner">
            <img src="assets/lenovo.png" alt="聯想">
          </div>
          <div class="partner">
            <img src="assets/apple.png" alt="蘋果">
          </div>
          <div class="partner">
            <img src="assets/honor.png" alt="榮耀">
          </div>
          <div class="partner">
            <img src="assets/alitelecom.png" alt="阿里通信">
          </div>
          <div class="partner">
            <img src="assets/cainiao.png" alt="菜鳥">
          </div>
          <div class="partner">
            <img src="assets/bilibili.png" alt="嗶哩嗶哩">
          </div>
          <div class="partner">
            <img src="assets/curel.png" alt="珂潤">
          </div>
        </div>
      </div>
      
