<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="homepage">首頁</a></li>
                <li><a href="#">找活動</a></li>
                <li><a href="#">找贊助</a></li>
                <li><a href="#">+發布贊助</a></li>
                <li><a href="#">+發布活動</a></li>
                <li><a href="login">登入</a></li>
                <li><a href="signup">註冊</a></li>   
            </ul>
        </nav>
    </header>
    <div class="banner">
        <img src="assets/images/banner.jpg" alt="Banner">
    </div>
    <div class="latest-activities">
        <h2>最新活動</h2>
        <div class="activity">
            <img src="assets/images/1.png" alt="Activity 1">
            <h3>活動標題1</h3>
        </div>
        <div class="activity">
            <img src="assets/images/2.png" alt="Activity 2">
            <h3>活動標題2</h3>
        </div>
    </div>
	    <div class="latest-sponsors">
        <h2>最新贊助</h2>
        <div class="activity">
            <img src="assets/images/1.png" alt="Activity 1">
            <h3>活動標題1</h3>
        </div>
        <div class="activity">
            <img src="assets/images/2.png" alt="Activity 2">
            <h3>活動標題2</h3>
        </div>
    </div>
</body>
</html>
