<div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>叩叩贊助平台</h3>
        <ul>
          <li><a href="homepage">首頁</a></li>
          <li><a href="findactivity">企業找活動</a></li>
          <li><a href="findsponser">學生找贊助</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>相關產品</h3>
        <ul>
          <li><a href="#">校園大使</a></li>
          <li><a href="#">打廣告</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>聯絡我們</h3>
        <p>客服電話：0987-293-999</p>
        <p>客服email：coco&#64;gmail.com</p>
        <p>服務時間：周一至周五（9:00-18:30）</p>
        <p>地址：南投縣埔里鎮台灣大道一段11111號</p>
      </div>
      <div class="footer-section">
        <img src="assets\images\footer\qrcode.png" alt="添加51贊助小助手">
        <img src="assets\images\footer\qrcode.png" alt="關注51贊助公眾號">
      </div>
    </div>
    <div class="footer-bottom">
      <p>Copyright © 2024 叩叩贊助平台 政府立案編號000號</p>
    </div>
  </div>
  